$colores :
rgb(216,84,145),
grey,
#5390D9;

$font-size :
1.3rem,
1.5rem,
2rem,
1rem,
0.75rem,
1.2rem,
1.1rem,
0.7rem;



$headerbackgoungcolor :
linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(254,252,253,1) 35%, rgba(254,244,247,1) 60%, rgba(254,206,223,1) 76%, rgba(255,84,145,0.6727065826330532) 100%);

