
footer {
    border-top: 5px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;  

div {
    display: block;
    box-sizing: border-box;

    ul li {
    list-style-type: none;
}
}
}

.menu-social {
    display: block;
    margin: 1px 20px 1px 20px;
}

.rrhh {
    list-style-type: none;
    font-weight: bold;
    font-size: 1.3rem;

li a {
    font-size: smaller;
    font-weight: lighter;
    text-decoration: none;
}
}

footer img {
    width: 120px;
    height: 118px; 
}

footer ul li a img {
    width: 40px;
    height: 39px;
    display: inline-block;
}

.fixed {
    position: fixed;
    bottom: 100px;
    right: 100px;
    display: block;

img {
    width: 60px;
    height: 59px;
    overflow: clip;
    overflow-clip-margin: content-box;
}
}