/*INDEX*/

.principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
 div img {
    width: 420px;
    height: 420px;
    overflow: clip;
    overflow-clip-margin: content-box;
    display: flex;
    align-items: center;
    transition: 0.3s ease all;
}
 img:hover {
    transform: scale(1.5);
}
 div p {
    font-size: nth($font-size , 1 );
    text-align: justify;
    display: block;
    margin-block-end: 1em; 
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    width: 600px;
}
}

.ubicacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
 h3 { 
    font-size: nth($font-size , 3 );
}
p {
    font-weight:lighter;
    font-size: medium;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    display: block;
.dire {
    font-weight: bold;
}
.horario {
    font-weight: bold;
}
}
}