@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Concert One;
}
/*HEADER*/
header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

header img {
    width: 180px;
    height: 177px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    margin-block-start: 0,65em;
    margin-inline-end: 0,65em;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.menu-nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

.menu-nav ul {
    font-size: 1.3rem;
    list-style-type: none;
    padding: 0;
    font-weight: bold;
    text-align: left;   
    display: flex;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

.menu-nav ul li {
    margin: 1px 20px 1px 20px;
    padding: 0; 
    display:list-item;
    
}

.menu-nav ul li a {
    text-decoration: none;
    margin: 0;  
    padding: 0;
}


/*FOOTER*/
footer {    
    border-top: 5px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;  
    margin: 0;
}

footer ul li { 
    list-style-type: none;
}

footer div {
    display: block;
    box-sizing: border-box;
}

.menu-social {
    display: block;
    margin: 1px 20px 1px 20px;
    box-sizing: border-box;
}

.rrhh {
    list-style-type: none;
    font-weight: bold;  
    font-size: 1.3rem;
}

.rrhh li a {
    font-size: smaller;
    font-weight: lighter;
    text-decoration: none;
}

footer img {
    width: 120px;
    height: 118px; 
    position: relative;
    top: 3px;
    left: 300px;
}

footer ul li a img {
    width: 40px;
    height: 39px;
    display: inline-block;
}

footer ul li a img {
    position: relative;
    top: 40px;
    left: 600px;
}

.fixed {
    position: fixed;
    bottom: 50px;
    right: 50px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
}

.fixed img {
    width: 60px;    
    height: 59px;
    overflow: clip;
    overflow-clip-margin: content-box;
}

/*INDEX*/

.principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal div img {
    width: 420px;
    height: 420px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.principal div p {
    font-size: 1.3rem;
    text-align: justify;
    padding: 0;
    margin: 0;
    display: block;
    margin-block-end: 1em; 
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    width: 600px;
    box-sizing: border-box;
}

.ubicacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ubicacion h3 { 
    font-size: 2rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ubicacion p {
    font-weight:lighter;
    font-size: medium;
    margin: 0;
    padding: 0;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    display: block;
    box-sizing: border-box;
}

.dire {
    font-weight: bold;
}
.horario {
    font-weight: bold;
}

/*CONTACTO*/

.contact-section {
    margin: 50px;
    font-size: 1.5rem;
    border: 3px solid rgb(238, 133, 238);
    width: 100%;
    display: grid;
}

/*FOTOS*/
.galeria img {
    width: 500px;
    height: 500px;
}

.titulogal {
    font-size: 2rem;;
}

/*PROMOCIONES*/

/*SERVICIOS*/