@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Concert One;
}

/*HEADER*/
header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header img {
    width: 200px;
    height: 200px;
    display: block;
    margin-block-start: 0,65em;
    margin-inline-end: 0,65em;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.menu-nav {
    display: block;
}

.menu-nav ul {
    font-size: 1.3rem;
    list-style-type: none;
    font-weight: bold;
    text-align: left;   
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

.menu-nav ul li {
    margin: 1px 20px 1px 20px;
    display:list-item;
}

.menu-nav ul li a {
    text-decoration: none;
}


/*FOOTER*/
footer {    
    border-top: 5px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;  
}

footer ul li { 
    list-style-type: none;
}

footer div {
    display: block;
    box-sizing: border-box;
}

.menu-social {
    display: block;
    margin: 1px 20px 1px 20px;
}

.rrhh {
    list-style-type: none;
    font-weight: bold;  
    font-size: 1.3rem;
}

.rrhh li a {
    font-size: smaller;
    font-weight: lighter;
    text-decoration: none;
}

footer img {
    width: 120px;
    height: 118px; 
}

footer ul li a img {
    width: 40px;
    height: 39px;
    display: inline-block;
}

.fixed {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: block;
}

.fixed img {
    width: 60px;    
    height: 59px;
    overflow: clip;
    overflow-clip-margin: content-box;
}

/*INDEX*/

.principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
}

.principal div img {
    width: 420px;
    height: 420px;
    overflow: clip;
    overflow-clip-margin: content-box;
    display: flex;
    align-items: center;
}

.principal div p {
    font-size: 1.3rem;
    text-align: justify;
    display: block;
    margin-block-end: 1em; 
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    width: 600px;
}

.ubicacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
}

.ubicacion h3 { 
    font-size: 2rem;
}

.ubicacion p {
    font-weight:lighter;
    font-size: medium;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    display: block;
}

.dire {
    font-weight: bold;
}
.horario {
    font-weight: bold;
}

/*CONTACTO*/

.contact-section {
    margin: 30px 0px;
    font-size: 1.5rem;
    border: 3px solid rgb(216 84 145);
    width: 75%;
    display: flex;
    padding: 15px;
}

/*FOTOS*/
.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.galeria img {
    width: 300px;
    height: 300px;
}

.titulo {
    font-size: 2rem;
}

/*PROMOCIONES*/
.imgpromo {

}

/*SERVICIOS*/
.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    margin-top: 30px;
}

.contenedorserv {
    width: 250px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iconoserv {
    width: 200px;
    height: 200px;
}

.descripserv {
    font-size: 1rem;
}